$color-body : #ffffff;
$color-background : #f5f5f5;
$color-header : linear-gradient(to bottom, #f7f7f7, #e8e8e8);

$color-title : #d2d2d2;
$color-title-shadow : #f5f5f5;

$color-text : #8d8d8d;
$color-border : #dddddd;
$color-shadow : #fbfbfb;

$color-password : #8d8d8d;
$color-button : linear-gradient(to bottom, #48abe5, #068fde);
$color-button-text : #ffffff;
$color-button-active : linear-gradient(to top, #48abe5, #068fde);
$color-button-border : #297dc7;
$color-button-shadow : #d7ddea;

$color-checkbox : linear-gradient(to bottom, #ffffff, #e4e4e4);
$color-checkbox-active : linear-gradient(to top, #ffffff, #e4e4e4);
$color-checkbox-border : #cecece;

$color-footer : #cccccc;