footer
{
    position    : relative;
    width       : 400px;
    left        : 50%;
    margin      : 10px 0 0 -200px;
    color       : $color-footer;
    font-size   : 11px;
    font-family : Open Sans, sans-serif;
    text-align  : center;

    a,
    a:visited
    {
        color           : $color-footer;
        text-decoration : underline;
    }
}