header
{
    position : relative;
    margin   : 150px 0 0 0;
    padding  : 50px 0 30px 0;

    h1
    {
        text-align  : center;
        color       : #ffffff;
        font-size   : 32px;
        line-height : 32px;
        font-family : Open Sans, sans-serif;
        font-weight : 300;
        margin      : 0 0 5px 0;
    }

    h2
    {
        text-align  : center;
        color       : #ffffff;
        font-size   : 17px;
        line-height : 17px;
        font-family : Open Sans, sans-serif;
        font-weight : 200;
    }

    h3
    {
        position      : absolute;
        top           : -35px;
        left          : 50%;
        margin        : 0 0 0 -35px;
        width         : 70px;
        height        : 70px;
        background    : linear-gradient(to bottom, #48abe5, #068fde);
        border-radius : 4px;
        text-align    : center;
        font-size     : 32px;

        i
        {
            margin : 20px 0 0 0;
            color  : #ffffff;
        }
    }
}