header
{
    position : relative;
    width    : 300px;
    left     : 50%;
    margin   : 150px 0 30px -150px;

    @media screen and (max-width : 600px) {
        margin-top : 120px;
    }

    h1
    {
        text-align  : center;
        color       : #ffffff;
        font-size   : 32px;
        line-height : 32px;
        font-family : Open Sans, sans-serif;
        font-weight : 300;
        margin      : 0 0 5px 0;

        @media screen and (max-width : 600px) {
            font-size   : 28px;
            line-height : 28px;
        }
    }

    h2
    {
        text-align  : center;
        color       : #ffffff;
        font-size   : 17px;
        line-height : 17px;
        font-family : Open Sans, sans-serif;
        font-weight : 300;
    }

    h3
    {
        position      : absolute;
        top           : -35px;
        left          : 50%;
        margin        : -50px 0 0 -35px;
        width         : 70px;
        height        : 70px;
        background    : linear-gradient(to bottom, #48abe5, #068fde);
        border-radius : 4px;
        text-align    : center;
        font-size     : 32px;

        @media screen and (max-width : 600px) {
            width  : 60px;
            height : 60px;
            margin : -40px 0 0 -30px;
        }

        i
        {
            margin : 20px 0 0 0;
            color  : #ffffff;

            @media screen and (max-width : 600px) {
                margin : 15px 0 0 0;
            }
        }
    }
}