.password
{
    padding : 20px;

    input[type=text]
    {
        width         : 100%;
        box-sizing    : border-box;
        border-radius : 5px;
        border        : 1px solid #dddddd;
        padding       : 10px 5px 10px 5px;
        font-family   : Courier, serif;
        font-size     : 14px;
        color         : #8d8d8d;
        background    : #ffffff;
        margin        : 0 0 20px 0;
        box-shadow    : 0 1px 0 #fbfbfb;
    }
}

.buttons
{
    position : relative;

    button
    {
        background  : linear-gradient(to bottom, #48abe5, #068fde);
        color       : #ffffff;
        border      : 1px solid #297dc7;
        box-shadow  : 0 1px 0 #d7ddea;
        width       : 50%;
        text-align  : center;
        font-family : Open Sans, sans-serif;
        font-weight : 700;
        font-size   : 16px;
        padding     : 6px 0 7px 0;
        box-sizing  : border-box;
        cursor      : pointer;
        text-shadow : 0 1px 0 #297dc7;
        outline     : 0;

        &:active
        {
            background : linear-gradient(to top, #48abe5, #068fde);
        }

        &:first-child
        {
            border-radius : 5px 0 0 5px;
            border-right  : 1px solid #297dc7;
        }

        &:last-child
        {
            position      : absolute;
            right         : 0;
            border-radius : 0 5px 5px 0;
            border-left   : 0;
        }

        i
        {
            font-size : 14px;
            margin    : 0 4px 0 0;
        }
    }
}
