.password
{
    padding       : 20px;
    background    : #ffffff;
    border-radius : 5px 5px 0 0;

    @media screen and (max-width : 600px) {
        padding : 15px;
    }

    input[type=text]
    {
        width         : 100%;
        box-sizing    : border-box;
        border-radius : 5px;
        border        : 1px solid #dddddd;
        padding       : 10px 5px 10px 5px;
        font-family   : Courier, serif;
        font-size     : 14px;
        color         : #8d8d8d;
        background    : #ffffff;
        margin        : 0 0 20px 0;
        outline       : 0;
        transition    : box-shadow 150ms, border 150ms;

        @media screen and (max-width : 600px) {
            margin-bottom : 15px;
        }

        &:focus
        {
            border     : 1px solid #47aae5;
            box-shadow : 0 0 0 2px #47aae5;
        }
    }
}

.buttons button
{
    background    : linear-gradient(to bottom, #48abe5, #068fde);
    color         : #ffffff;
    border        : 1px solid #297dc7;
    box-shadow    : 0 1px 0 #d7ddea;
    width         : 100%;
    font-family   : OpenSansBold, Arial, sans-serif;
    font-weight   : normal;
    font-size     : 16px;
    padding       : 6px 0 7px 0;
    cursor        : pointer;
    text-shadow   : 0 1px 0 #297dc7;
    outline       : 0;
    border-radius : 5px;

    &:active
    {
        background : linear-gradient(to top, #48abe5, #068fde);
    }

    i
    {
        font-size : 14px;
        margin    : 0 4px 0 0;
    }
}
