input[type=text]
{
    width         : 100%;
    box-sizing    : border-box;
    border-radius : 5px;
    border        : 1px solid $color-border;
    padding       : 10px 5px 10px 5px;
    font-family   : Courier, serif;
    font-size     : 14px;
    color         : $color-password;
    background    : $color-body;
    margin        : 0 0 20px 0;
    box-shadow    : 0 1px 0 $color-shadow;
}

.buttons
{
    position : relative;

    button
    {
        background  : $color-button;
        color       : $color-button-text;
        border      : 1px solid $color-button-border;
        box-shadow  : 0 1px 0 $color-button-shadow;
        width       : 50%;
        text-align  : center;
        font-family : Open Sans, sans-serif;
        font-weight : 700;
        font-size   : 16px;
        padding     : 6px 0 7px 0;
        box-sizing  : border-box;
        cursor      : pointer;
        margin      : 0 0 20px 0;
        text-shadow : 0 1px 0 $color-button-border;
        outline     : 0;

        &:active
        {
            background : $color-button-active;
        }

        &:first-child
        {
            border-radius : 5px 0 0 5px;
            border-right  : 1px solid $color-button-border;
        }

        &:last-child
        {
            position      : absolute;
            right         : 0;
            border-radius : 0 5px 5px 0;
            border-left   : 0;
        }

        i
        {
            font-size : 14px;
            margin    : 0 4px 0 0;
        }
    }
}
